.formInput {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  
  
}
label{
  font-weight: bold;
  color: rgb(52, 51, 51);
  font-size: 1.2rem;
}
input {
  width: 80%;
  padding: 15px;
  margin: 10px 0px;
  border: 1px solid gray;
  border-radius: 5px;
}
span {
  font-style: 12px;
  padding: 3px;
  color: red;
  display: none;
  text-align: center;
  padding: 10px;
}
input:invalid[focused=true] ~span {
  display: block;  
}
input:invalid[focused=true]{
  border: 1px solid red;
}